# requirements.txt
depens<-c('tibble', 'survival', 'survminer', 'limma', "DESeq2","devtools", 'limSolve', 
          'GSVA', 'e1071', 'preprocessCore', "devtools", "tidyHeatmap", "caret", "glmnet", 
          "ppcor",  "timeROC", "pracma", "factoextra", 
          "fastqc", "FactoMineR", "WGCNA", "patchwork", 'ggplot2',
          "biomaRt", 'ggpubr', "PMCMRplus",
 "caret",
  "circlize",
  "ComplexHeatmap",
  "dada2",
  "e1071",
  "fastqcr",
  "GA",
  "haia",
  "humann3",
  "keras",
  "MMUPHin",
  "phyloseq",
  "pracma",
  "randomForest",
  "rmarkdown",
  "targets",
  "wavelets"
)
