torch==2.5.1
torchvision==0.20.1
xgboost==2.1.4
lightgbm==4.6.0
scikit-learn==1.6.1
scipy==1.15.2
shap==0.46.0
numpy==1.26.4
pandas==2.2.3
pyyaml==6.0.2
anndata==0.10.9
scanpy==1.10.4
scvi-tools==1.2.2
harmonypy==0.0.10
pydeseq2==0.4.12
torch-geometric==2.6.1
networkx==3.4.2
python-igraph==0.11.8
leidenalg==0.10.2
umap-learn==0.5.7
celltypist==1.6.3
matplotlib==3.9.4
seaborn==0.13.2
adjusttext==1.2.0
tqdm==4.67.1
